@import './fonts.css';
@import 'modern-normalize/modern-normalize.css';
@import '../../shared/ui/material/foundation/tokens/reference.tokens.css';
@import '../../shared/ui/material/foundation/tokens/system.tokens.css';
@import '../../shared/lib/md/index.css';
@import '../../shared/ui/material/foundation/typescale/typescale.css';
@import '../../shared/ui/material/foundation/motion/motion.css';

html,
body,
#app {
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  overflow: auto;
  transition: background 0.3s;
  overscroll-behavior-y: contain;
}
