@import "modern-normalize/modern-normalize.css";
@import "../../shared/lib/md/index.css";

html,
body,
#app {
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  overflow: auto;
  transition: background 0.3s;
  overscroll-behavior-y: contain;
}
