@import "modern-normalize/modern-normalize.css";
@import "../../shared/lib/md/index.css";

html,
body,
#app {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  overflow: auto;
  transition: background 1s;
  overscroll-behavior-y: contain;
}
